<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableAntropometria" header="AntropometriaData">
							<p:growl id="men"/>				
							<p:dataTable value="#{antropometriaView.data}" var="antropometria"
								paginator="true" rows="5">
																										<p:column filterBy="#{antropometria.antId}" sortBy="#{antropometria.antId}" >
										 <f:facet name="header">
										<h:outputText value="antId"/>
										</f:facet>
										 <h:outputText value="#{antropometria.antId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{antropometria.abdomen}" sortBy="#{antropometria.abdomen}" >
										 <f:facet name="header">
										<h:outputText value="Abdomen"/>
										</f:facet>
										 <h:outputText value="#{antropometria.abdomen}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{antropometria.activo}" sortBy="#{antropometria.activo}" >
										 <f:facet name="header">
										<h:outputText value="Activo"/>
										</f:facet>
										 <h:outputText value="#{antropometria.activo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{antropometria.antebrazo}" sortBy="#{antropometria.antebrazo}" >
										 <f:facet name="header">
										<h:outputText value="Antebrazo"/>
										</f:facet>
										 <h:outputText value="#{antropometria.antebrazo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{antropometria.brazoContraido}" sortBy="#{antropometria.brazoContraido}" >
										 <f:facet name="header">
										<h:outputText value="BrazoContraido"/>
										</f:facet>
										 <h:outputText value="#{antropometria.brazoContraido}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{antropometria.brazoRelajado}" sortBy="#{antropometria.brazoRelajado}" >
										 <f:facet name="header">
										<h:outputText value="BrazoRelajado"/>
										</f:facet>
										 <h:outputText value="#{antropometria.brazoRelajado}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{antropometria.cintura}" sortBy="#{antropometria.cintura}" >
										 <f:facet name="header">
										<h:outputText value="Cintura"/>
										</f:facet>
										 <h:outputText value="#{antropometria.cintura}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{antropometria.cuello}" sortBy="#{antropometria.cuello}" >
										 <f:facet name="header">
										<h:outputText value="Cuello"/>
										</f:facet>
										 <h:outputText value="#{antropometria.cuello}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{antropometria.estatura}" sortBy="#{antropometria.estatura}" >
										 <f:facet name="header">
										<h:outputText value="Estatura"/>
										</f:facet>
										 <h:outputText value="#{antropometria.estatura}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{antropometria.fechaCreacion}" sortBy="#{antropometria.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{antropometria.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{antropometria.fechaModificacion}" sortBy="#{antropometria.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{antropometria.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{antropometria.hombro}" sortBy="#{antropometria.hombro}" >
										 <f:facet name="header">
										<h:outputText value="Hombro"/>
										</f:facet>
										 <h:outputText value="#{antropometria.hombro}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{antropometria.mes}" sortBy="#{antropometria.mes}" >
										 <f:facet name="header">
										<h:outputText value="Mes"/>
										</f:facet>
										 <h:outputText value="#{antropometria.mes}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{antropometria.pantorrilla}" sortBy="#{antropometria.pantorrilla}" >
										 <f:facet name="header">
										<h:outputText value="Pantorrilla"/>
										</f:facet>
										 <h:outputText value="#{antropometria.pantorrilla}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{antropometria.pecho}" sortBy="#{antropometria.pecho}" >
										 <f:facet name="header">
										<h:outputText value="Pecho"/>
										</f:facet>
										 <h:outputText value="#{antropometria.pecho}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{antropometria.peso}" sortBy="#{antropometria.peso}" >
										 <f:facet name="header">
										<h:outputText value="Peso"/>
										</f:facet>
										 <h:outputText value="#{antropometria.peso}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{antropometria.pierna}" sortBy="#{antropometria.pierna}" >
										 <f:facet name="header">
										<h:outputText value="Pierna"/>
										</f:facet>
										 <h:outputText value="#{antropometria.pierna}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{antropometria.usuarioCreador}" sortBy="#{antropometria.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{antropometria.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{antropometria.usuarioModificador}" sortBy="#{antropometria.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{antropometria.usuarioModificador}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogAntropometria"
										actionListener="#{antropometriaView.action_edit}">
										<f:attribute name="selectedAntropometria" value="#{antropometria}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{antropometriaView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedAntropometria" value="#{antropometria}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{antropometriaView.action_new()}" update=":dialogAntropometria" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogAntropometria" appendTo="@(body)" draggable="true"
						closable="false" visible="#{antropometriaView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelAntropometria" header="Antropometria">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgAntId" value="AntId"/>
									 <p:inputText id="txtAntId" binding="#{antropometriaView.txtAntId}">
									 <p:ajax update=":dialogAntropometria" listener="#{antropometriaView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgAbdomen" value=" Abdomen"/>
									<p:inputText id="txtAbdomen" disabled="true" binding="#{antropometriaView.txtAbdomen}"/>
																		<h:outputText id="msgActivo" value=" Activo"/>
									<p:inputText id="txtActivo" disabled="true" binding="#{antropometriaView.txtActivo}"/>
																		<h:outputText id="msgAntebrazo" value=" Antebrazo"/>
									<p:inputText id="txtAntebrazo" disabled="true" binding="#{antropometriaView.txtAntebrazo}"/>
																		<h:outputText id="msgBrazoContraido" value=" BrazoContraido"/>
									<p:inputText id="txtBrazoContraido" disabled="true" binding="#{antropometriaView.txtBrazoContraido}"/>
																		<h:outputText id="msgBrazoRelajado" value=" BrazoRelajado"/>
									<p:inputText id="txtBrazoRelajado" disabled="true" binding="#{antropometriaView.txtBrazoRelajado}"/>
																		<h:outputText id="msgCintura" value=" Cintura"/>
									<p:inputText id="txtCintura" disabled="true" binding="#{antropometriaView.txtCintura}"/>
																		<h:outputText id="msgCuello" value=" Cuello"/>
									<p:inputText id="txtCuello" disabled="true" binding="#{antropometriaView.txtCuello}"/>
																		<h:outputText id="msgEstatura" value=" Estatura"/>
									<p:inputText id="txtEstatura" disabled="true" binding="#{antropometriaView.txtEstatura}"/>
																		<h:outputText id="msgHombro" value=" Hombro"/>
									<p:inputText id="txtHombro" disabled="true" binding="#{antropometriaView.txtHombro}"/>
																		<h:outputText id="msgPantorrilla" value=" Pantorrilla"/>
									<p:inputText id="txtPantorrilla" disabled="true" binding="#{antropometriaView.txtPantorrilla}"/>
																		<h:outputText id="msgPecho" value=" Pecho"/>
									<p:inputText id="txtPecho" disabled="true" binding="#{antropometriaView.txtPecho}"/>
																		<h:outputText id="msgPeso" value=" Peso"/>
									<p:inputText id="txtPeso" disabled="true" binding="#{antropometriaView.txtPeso}"/>
																		<h:outputText id="msgPierna" value=" Pierna"/>
									<p:inputText id="txtPierna" disabled="true" binding="#{antropometriaView.txtPierna}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{antropometriaView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{antropometriaView.txtUsuarioModificador}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{antropometriaView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{antropometriaView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{antropometriaView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{antropometriaView.listener_txtFechaModificacion}"  />
										</p:calendar>
																				<h:outputText id="msgMes" value=" Mes"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{antropometriaView.txtMes}" >
										<p:ajax event="dateSelect" listener="#{antropometriaView.listener_txtMes}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{antropometriaView.btnSave}" value="Save" action="#{antropometriaView.action_save()}" update=":dialogAntropometria :frm:panelDataTableAntropometria" />
									<p:commandButton id="btnClear" value="Clear" action="#{antropometriaView.action_clear()}" update=":dialogAntropometria" />
									<p:commandButton id="btnExit" value="Exit" action="#{antropometriaView.action_closeDialog()}" update=":dialogAntropometria" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

