<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableClienteRutina" header="ClienteRutinaData">
							<p:growl id="men"/>				
							<p:dataTable value="#{clienteRutinaView.data}" var="clienteRutina"
								paginator="true" rows="5">
																										<p:column filterBy="#{clienteRutina.clirutId}" sortBy="#{clienteRutina.clirutId}" >
										 <f:facet name="header">
										<h:outputText value="clirutId"/>
										</f:facet>
										 <h:outputText value="#{clienteRutina.clirutId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{clienteRutina.activo}" sortBy="#{clienteRutina.activo}" >
										 <f:facet name="header">
										<h:outputText value="Activo"/>
										</f:facet>
										 <h:outputText value="#{clienteRutina.activo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{clienteRutina.fechaCreacion}" sortBy="#{clienteRutina.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{clienteRutina.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{clienteRutina.fechaModificacion}" sortBy="#{clienteRutina.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{clienteRutina.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{clienteRutina.usuarioCreador}" sortBy="#{clienteRutina.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{clienteRutina.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{clienteRutina.usuarioModificador}" sortBy="#{clienteRutina.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{clienteRutina.usuarioModificador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{clienteRutina.cliId_Cliente}" sortBy="#{clienteRutina.cliId_Cliente}" >
										 <f:facet name="header">
										<h:outputText value="CliId_Cliente"/>
										</f:facet>
										 <h:outputText value="#{clienteRutina.cliId_Cliente}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{clienteRutina.rutId_Rutina}" sortBy="#{clienteRutina.rutId_Rutina}" >
										 <f:facet name="header">
										<h:outputText value="RutId_Rutina"/>
										</f:facet>
										 <h:outputText value="#{clienteRutina.rutId_Rutina}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogClienteRutina"
										actionListener="#{clienteRutinaView.action_edit}">
										<f:attribute name="selectedClienteRutina" value="#{clienteRutina}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{clienteRutinaView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedClienteRutina" value="#{clienteRutina}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{clienteRutinaView.action_new()}" update=":dialogClienteRutina" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogClienteRutina" appendTo="@(body)" draggable="true"
						closable="false" visible="#{clienteRutinaView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelClienteRutina" header="ClienteRutina">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgClirutId" value="ClirutId"/>
									 <p:inputText id="txtClirutId" binding="#{clienteRutinaView.txtClirutId}">
									 <p:ajax update=":dialogClienteRutina" listener="#{clienteRutinaView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgActivo" value=" Activo"/>
									<p:inputText id="txtActivo" disabled="true" binding="#{clienteRutinaView.txtActivo}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{clienteRutinaView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{clienteRutinaView.txtUsuarioModificador}"/>
																		<h:outputText id="msgCliId_Cliente" value=" CliId_Cliente"/>
									<p:inputText id="txtCliId_Cliente" disabled="true" binding="#{clienteRutinaView.txtCliId_Cliente}"/>
																		<h:outputText id="msgRutId_Rutina" value=" RutId_Rutina"/>
									<p:inputText id="txtRutId_Rutina" disabled="true" binding="#{clienteRutinaView.txtRutId_Rutina}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{clienteRutinaView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{clienteRutinaView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{clienteRutinaView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{clienteRutinaView.listener_txtFechaModificacion}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{clienteRutinaView.btnSave}" value="Save" action="#{clienteRutinaView.action_save()}" update=":dialogClienteRutina :frm:panelDataTableClienteRutina" />
									<p:commandButton id="btnClear" value="Clear" action="#{clienteRutinaView.action_clear()}" update=":dialogClienteRutina" />
									<p:commandButton id="btnExit" value="Exit" action="#{clienteRutinaView.action_closeDialog()}" update=":dialogClienteRutina" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

