<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelClienteAntropometria" header="ClienteAntropometria">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgCliantId" value="CliantId"/>
						 	<p:inputText id="txtCliantId" binding="#{clienteAntropometriaView.txtCliantId}">
						 		<p:ajax update="panelClienteAntropometria,msg,panelBotones" listener="#{clienteAntropometriaView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgActivo" value=" Activo"/>
							<p:inputText id="txtActivo" disabled="true" binding="#{clienteAntropometriaView.txtActivo}"/>
													<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
							<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{clienteAntropometriaView.txtUsuarioCreador}"/>
													<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
							<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{clienteAntropometriaView.txtUsuarioModificador}"/>
													<h:outputText id="msgAntId_Antropometria" value=" AntId_Antropometria"/>
							<p:inputText id="txtAntId_Antropometria" disabled="true" binding="#{clienteAntropometriaView.txtAntId_Antropometria}"/>
													<h:outputText id="msgCliId_Cliente" value=" CliId_Cliente"/>
							<p:inputText id="txtCliId_Cliente" disabled="true" binding="#{clienteAntropometriaView.txtCliId_Cliente}"/>
												
																				<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{clienteAntropometriaView.txtFechaCreacion}" >
								<p:ajax event="dateSelect" listener="#{clienteAntropometriaView.listener_txtFechaCreacion}" />
							</p:calendar>
														<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{clienteAntropometriaView.txtFechaModificacion}" >
								<p:ajax event="dateSelect" listener="#{clienteAntropometriaView.listener_txtFechaModificacion}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{clienteAntropometriaView.btnSave}" disabled="true" value="Save" action="#{clienteAntropometriaView.action_save()}" update="panelClienteAntropometria,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{clienteAntropometriaView.btnDelete}" disabled="true" value="Delete" action="#{clienteAntropometriaView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelClienteAntropometria,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{clienteAntropometriaView.action_clear()}" update="panelClienteAntropometria,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>