<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableCliente" header="ClienteData">
							<p:growl id="men"/>				
							<p:dataTable value="#{clienteView.data}" var="cliente"
								paginator="true" rows="5">
																										<p:column filterBy="#{cliente.cliId}" sortBy="#{cliente.cliId}" >
										 <f:facet name="header">
										<h:outputText value="cliId"/>
										</f:facet>
										 <h:outputText value="#{cliente.cliId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{cliente.activo}" sortBy="#{cliente.activo}" >
										 <f:facet name="header">
										<h:outputText value="Activo"/>
										</f:facet>
										 <h:outputText value="#{cliente.activo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{cliente.apellido}" sortBy="#{cliente.apellido}" >
										 <f:facet name="header">
										<h:outputText value="Apellido"/>
										</f:facet>
										 <h:outputText value="#{cliente.apellido}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{cliente.cedula}" sortBy="#{cliente.cedula}" >
										 <f:facet name="header">
										<h:outputText value="Cedula"/>
										</f:facet>
										 <h:outputText value="#{cliente.cedula}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{cliente.celular}" sortBy="#{cliente.celular}" >
										 <f:facet name="header">
										<h:outputText value="Celular"/>
										</f:facet>
										 <h:outputText value="#{cliente.celular}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{cliente.correo}" sortBy="#{cliente.correo}" >
										 <f:facet name="header">
										<h:outputText value="Correo"/>
										</f:facet>
										 <h:outputText value="#{cliente.correo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{cliente.fechaCreacion}" sortBy="#{cliente.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{cliente.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{cliente.fechaModificacion}" sortBy="#{cliente.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{cliente.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{cliente.fechaNacimiento}" sortBy="#{cliente.fechaNacimiento}" >
										 <f:facet name="header">
										<h:outputText value="FechaNacimiento"/>
										</f:facet>
										 <h:outputText value="#{cliente.fechaNacimiento}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{cliente.foto}" sortBy="#{cliente.foto}" >
										 <f:facet name="header">
										<h:outputText value="Foto"/>
										</f:facet>
										 <h:outputText value="#{cliente.foto}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{cliente.nombre}" sortBy="#{cliente.nombre}" >
										 <f:facet name="header">
										<h:outputText value="Nombre"/>
										</f:facet>
										 <h:outputText value="#{cliente.nombre}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{cliente.password}" sortBy="#{cliente.password}" >
										 <f:facet name="header">
										<h:outputText value="Password"/>
										</f:facet>
										 <h:outputText value="#{cliente.password}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{cliente.usuarioCreador}" sortBy="#{cliente.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{cliente.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{cliente.usuarioModificador}" sortBy="#{cliente.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{cliente.usuarioModificador}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogCliente"
										actionListener="#{clienteView.action_edit}">
										<f:attribute name="selectedCliente" value="#{cliente}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{clienteView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedCliente" value="#{cliente}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{clienteView.action_new()}" update=":dialogCliente" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogCliente" appendTo="@(body)" draggable="true"
						closable="false" visible="#{clienteView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelCliente" header="Cliente">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgCliId" value="CliId"/>
									 <p:inputText id="txtCliId" binding="#{clienteView.txtCliId}">
									 <p:ajax update=":dialogCliente" listener="#{clienteView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgActivo" value=" Activo"/>
									<p:inputText id="txtActivo" disabled="true" binding="#{clienteView.txtActivo}"/>
																		<h:outputText id="msgApellido" value=" Apellido"/>
									<p:inputText id="txtApellido" disabled="true" binding="#{clienteView.txtApellido}"/>
																		<h:outputText id="msgCedula" value=" Cedula"/>
									<p:inputText id="txtCedula" disabled="true" binding="#{clienteView.txtCedula}"/>
																		<h:outputText id="msgCelular" value=" Celular"/>
									<p:inputText id="txtCelular" disabled="true" binding="#{clienteView.txtCelular}"/>
																		<h:outputText id="msgCorreo" value=" Correo"/>
									<p:inputText id="txtCorreo" disabled="true" binding="#{clienteView.txtCorreo}"/>
																		<h:outputText id="msgFoto" value=" Foto"/>
									<p:inputText id="txtFoto" disabled="true" binding="#{clienteView.txtFoto}"/>
																		<h:outputText id="msgNombre" value=" Nombre"/>
									<p:inputText id="txtNombre" disabled="true" binding="#{clienteView.txtNombre}"/>
																		<h:outputText id="msgPassword" value=" Password"/>
									<p:inputText id="txtPassword" disabled="true" binding="#{clienteView.txtPassword}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{clienteView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{clienteView.txtUsuarioModificador}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{clienteView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{clienteView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{clienteView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{clienteView.listener_txtFechaModificacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaNacimiento" value=" FechaNacimiento"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{clienteView.txtFechaNacimiento}" >
										<p:ajax event="dateSelect" listener="#{clienteView.listener_txtFechaNacimiento}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{clienteView.btnSave}" value="Save" action="#{clienteView.action_save()}" update=":dialogCliente :frm:panelDataTableCliente" />
									<p:commandButton id="btnClear" value="Clear" action="#{clienteView.action_clear()}" update=":dialogCliente" />
									<p:commandButton id="btnExit" value="Exit" action="#{clienteView.action_closeDialog()}" update=":dialogCliente" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

