<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableEjercicioRutina" header="EjercicioRutinaData">
							<p:growl id="men"/>				
							<p:dataTable value="#{ejercicioRutinaView.data}" var="ejercicioRutina"
								paginator="true" rows="5">
																										<p:column filterBy="#{ejercicioRutina.ejerutId}" sortBy="#{ejercicioRutina.ejerutId}" >
										 <f:facet name="header">
										<h:outputText value="ejerutId"/>
										</f:facet>
										 <h:outputText value="#{ejercicioRutina.ejerutId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{ejercicioRutina.activo}" sortBy="#{ejercicioRutina.activo}" >
										 <f:facet name="header">
										<h:outputText value="Activo"/>
										</f:facet>
										 <h:outputText value="#{ejercicioRutina.activo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{ejercicioRutina.fechaCreacion}" sortBy="#{ejercicioRutina.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{ejercicioRutina.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{ejercicioRutina.fechaModificacion}" sortBy="#{ejercicioRutina.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{ejercicioRutina.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{ejercicioRutina.usuarioCreador}" sortBy="#{ejercicioRutina.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{ejercicioRutina.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{ejercicioRutina.usuarioModificador}" sortBy="#{ejercicioRutina.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{ejercicioRutina.usuarioModificador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{ejercicioRutina.ejeId_Ejercicio}" sortBy="#{ejercicioRutina.ejeId_Ejercicio}" >
										 <f:facet name="header">
										<h:outputText value="EjeId_Ejercicio"/>
										</f:facet>
										 <h:outputText value="#{ejercicioRutina.ejeId_Ejercicio}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{ejercicioRutina.rutId_Rutina}" sortBy="#{ejercicioRutina.rutId_Rutina}" >
										 <f:facet name="header">
										<h:outputText value="RutId_Rutina"/>
										</f:facet>
										 <h:outputText value="#{ejercicioRutina.rutId_Rutina}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogEjercicioRutina"
										actionListener="#{ejercicioRutinaView.action_edit}">
										<f:attribute name="selectedEjercicioRutina" value="#{ejercicioRutina}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{ejercicioRutinaView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedEjercicioRutina" value="#{ejercicioRutina}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{ejercicioRutinaView.action_new()}" update=":dialogEjercicioRutina" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogEjercicioRutina" appendTo="@(body)" draggable="true"
						closable="false" visible="#{ejercicioRutinaView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelEjercicioRutina" header="EjercicioRutina">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgEjerutId" value="EjerutId"/>
									 <p:inputText id="txtEjerutId" binding="#{ejercicioRutinaView.txtEjerutId}">
									 <p:ajax update=":dialogEjercicioRutina" listener="#{ejercicioRutinaView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgActivo" value=" Activo"/>
									<p:inputText id="txtActivo" disabled="true" binding="#{ejercicioRutinaView.txtActivo}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{ejercicioRutinaView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{ejercicioRutinaView.txtUsuarioModificador}"/>
																		<h:outputText id="msgEjeId_Ejercicio" value=" EjeId_Ejercicio"/>
									<p:inputText id="txtEjeId_Ejercicio" disabled="true" binding="#{ejercicioRutinaView.txtEjeId_Ejercicio}"/>
																		<h:outputText id="msgRutId_Rutina" value=" RutId_Rutina"/>
									<p:inputText id="txtRutId_Rutina" disabled="true" binding="#{ejercicioRutinaView.txtRutId_Rutina}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{ejercicioRutinaView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{ejercicioRutinaView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{ejercicioRutinaView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{ejercicioRutinaView.listener_txtFechaModificacion}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{ejercicioRutinaView.btnSave}" value="Save" action="#{ejercicioRutinaView.action_save()}" update=":dialogEjercicioRutina :frm:panelDataTableEjercicioRutina" />
									<p:commandButton id="btnClear" value="Clear" action="#{ejercicioRutinaView.action_clear()}" update=":dialogEjercicioRutina" />
									<p:commandButton id="btnExit" value="Exit" action="#{ejercicioRutinaView.action_closeDialog()}" update=":dialogEjercicioRutina" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

