<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelEjercicioRutina" header="EjercicioRutina">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgEjerutId" value="EjerutId"/>
						 	<p:inputText id="txtEjerutId" binding="#{ejercicioRutinaView.txtEjerutId}">
						 		<p:ajax update="panelEjercicioRutina,msg,panelBotones" listener="#{ejercicioRutinaView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgActivo" value=" Activo"/>
							<p:inputText id="txtActivo" disabled="true" binding="#{ejercicioRutinaView.txtActivo}"/>
													<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
							<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{ejercicioRutinaView.txtUsuarioCreador}"/>
													<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
							<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{ejercicioRutinaView.txtUsuarioModificador}"/>
													<h:outputText id="msgEjeId_Ejercicio" value=" EjeId_Ejercicio"/>
							<p:inputText id="txtEjeId_Ejercicio" disabled="true" binding="#{ejercicioRutinaView.txtEjeId_Ejercicio}"/>
													<h:outputText id="msgRutId_Rutina" value=" RutId_Rutina"/>
							<p:inputText id="txtRutId_Rutina" disabled="true" binding="#{ejercicioRutinaView.txtRutId_Rutina}"/>
												
																				<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{ejercicioRutinaView.txtFechaCreacion}" >
								<p:ajax event="dateSelect" listener="#{ejercicioRutinaView.listener_txtFechaCreacion}" />
							</p:calendar>
														<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{ejercicioRutinaView.txtFechaModificacion}" >
								<p:ajax event="dateSelect" listener="#{ejercicioRutinaView.listener_txtFechaModificacion}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{ejercicioRutinaView.btnSave}" disabled="true" value="Save" action="#{ejercicioRutinaView.action_save()}" update="panelEjercicioRutina,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{ejercicioRutinaView.btnDelete}" disabled="true" value="Delete" action="#{ejercicioRutinaView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelEjercicioRutina,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{ejercicioRutinaView.action_clear()}" update="panelEjercicioRutina,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>