<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableEjercicio" header="EjercicioData">
							<p:growl id="men"/>				
							<p:dataTable value="#{ejercicioView.data}" var="ejercicio"
								paginator="true" rows="5">
																										<p:column filterBy="#{ejercicio.ejeId}" sortBy="#{ejercicio.ejeId}" >
										 <f:facet name="header">
										<h:outputText value="ejeId"/>
										</f:facet>
										 <h:outputText value="#{ejercicio.ejeId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{ejercicio.activo}" sortBy="#{ejercicio.activo}" >
										 <f:facet name="header">
										<h:outputText value="Activo"/>
										</f:facet>
										 <h:outputText value="#{ejercicio.activo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{ejercicio.descripcion}" sortBy="#{ejercicio.descripcion}" >
										 <f:facet name="header">
										<h:outputText value="Descripcion"/>
										</f:facet>
										 <h:outputText value="#{ejercicio.descripcion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{ejercicio.fechaCreacion}" sortBy="#{ejercicio.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{ejercicio.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{ejercicio.fechaModificacion}" sortBy="#{ejercicio.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{ejercicio.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{ejercicio.imagen}" sortBy="#{ejercicio.imagen}" >
										 <f:facet name="header">
										<h:outputText value="Imagen"/>
										</f:facet>
										 <h:outputText value="#{ejercicio.imagen}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{ejercicio.nombre}" sortBy="#{ejercicio.nombre}" >
										 <f:facet name="header">
										<h:outputText value="Nombre"/>
										</f:facet>
										 <h:outputText value="#{ejercicio.nombre}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{ejercicio.repeticiones}" sortBy="#{ejercicio.repeticiones}" >
										 <f:facet name="header">
										<h:outputText value="Repeticiones"/>
										</f:facet>
										 <h:outputText value="#{ejercicio.repeticiones}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{ejercicio.series}" sortBy="#{ejercicio.series}" >
										 <f:facet name="header">
										<h:outputText value="Series"/>
										</f:facet>
										 <h:outputText value="#{ejercicio.series}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{ejercicio.usuarioCreador}" sortBy="#{ejercicio.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{ejercicio.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{ejercicio.usuarioModificador}" sortBy="#{ejercicio.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{ejercicio.usuarioModificador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{ejercicio.tiejeId_TipoEjercicio}" sortBy="#{ejercicio.tiejeId_TipoEjercicio}" >
										 <f:facet name="header">
										<h:outputText value="TiejeId_TipoEjercicio"/>
										</f:facet>
										 <h:outputText value="#{ejercicio.tiejeId_TipoEjercicio}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogEjercicio"
										actionListener="#{ejercicioView.action_edit}">
										<f:attribute name="selectedEjercicio" value="#{ejercicio}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{ejercicioView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedEjercicio" value="#{ejercicio}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{ejercicioView.action_new()}" update=":dialogEjercicio" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogEjercicio" appendTo="@(body)" draggable="true"
						closable="false" visible="#{ejercicioView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelEjercicio" header="Ejercicio">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgEjeId" value="EjeId"/>
									 <p:inputText id="txtEjeId" binding="#{ejercicioView.txtEjeId}">
									 <p:ajax update=":dialogEjercicio" listener="#{ejercicioView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgActivo" value=" Activo"/>
									<p:inputText id="txtActivo" disabled="true" binding="#{ejercicioView.txtActivo}"/>
																		<h:outputText id="msgDescripcion" value=" Descripcion"/>
									<p:inputText id="txtDescripcion" disabled="true" binding="#{ejercicioView.txtDescripcion}"/>
																		<h:outputText id="msgImagen" value=" Imagen"/>
									<p:inputText id="txtImagen" disabled="true" binding="#{ejercicioView.txtImagen}"/>
																		<h:outputText id="msgNombre" value=" Nombre"/>
									<p:inputText id="txtNombre" disabled="true" binding="#{ejercicioView.txtNombre}"/>
																		<h:outputText id="msgRepeticiones" value=" Repeticiones"/>
									<p:inputText id="txtRepeticiones" disabled="true" binding="#{ejercicioView.txtRepeticiones}"/>
																		<h:outputText id="msgSeries" value=" Series"/>
									<p:inputText id="txtSeries" disabled="true" binding="#{ejercicioView.txtSeries}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{ejercicioView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{ejercicioView.txtUsuarioModificador}"/>
																		<h:outputText id="msgTiejeId_TipoEjercicio" value=" TiejeId_TipoEjercicio"/>
									<p:inputText id="txtTiejeId_TipoEjercicio" disabled="true" binding="#{ejercicioView.txtTiejeId_TipoEjercicio}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{ejercicioView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{ejercicioView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{ejercicioView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{ejercicioView.listener_txtFechaModificacion}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{ejercicioView.btnSave}" value="Save" action="#{ejercicioView.action_save()}" update=":dialogEjercicio :frm:panelDataTableEjercicio" />
									<p:commandButton id="btnClear" value="Clear" action="#{ejercicioView.action_clear()}" update=":dialogEjercicio" />
									<p:commandButton id="btnExit" value="Exit" action="#{ejercicioView.action_closeDialog()}" update=":dialogEjercicio" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

