<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelPago" header="Pago">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgPagId" value="PagId"/>
						 	<p:inputText id="txtPagId" binding="#{pagoView.txtPagId}">
						 		<p:ajax update="panelPago,msg,panelBotones" listener="#{pagoView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgActivo" value=" Activo"/>
							<p:inputText id="txtActivo" disabled="true" binding="#{pagoView.txtActivo}"/>
													<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
							<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{pagoView.txtUsuarioCreador}"/>
													<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
							<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{pagoView.txtUsuarioModificador}"/>
													<h:outputText id="msgValor" value=" Valor"/>
							<p:inputText id="txtValor" disabled="true" binding="#{pagoView.txtValor}"/>
													<h:outputText id="msgPlancliId_PlanCliente" value=" PlancliId_PlanCliente"/>
							<p:inputText id="txtPlancliId_PlanCliente" disabled="true" binding="#{pagoView.txtPlancliId_PlanCliente}"/>
													<h:outputText id="msgTipaId_TipoPago" value=" TipaId_TipoPago"/>
							<p:inputText id="txtTipaId_TipoPago" disabled="true" binding="#{pagoView.txtTipaId_TipoPago}"/>
												
																				<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{pagoView.txtFechaCreacion}" >
								<p:ajax event="dateSelect" listener="#{pagoView.listener_txtFechaCreacion}" />
							</p:calendar>
														<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{pagoView.txtFechaModificacion}" >
								<p:ajax event="dateSelect" listener="#{pagoView.listener_txtFechaModificacion}" />
							</p:calendar>
														<h:outputText id="msgFechaPago" value=" FechaPago"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{pagoView.txtFechaPago}" >
								<p:ajax event="dateSelect" listener="#{pagoView.listener_txtFechaPago}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{pagoView.btnSave}" disabled="true" value="Save" action="#{pagoView.action_save()}" update="panelPago,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{pagoView.btnDelete}" disabled="true" value="Delete" action="#{pagoView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelPago,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{pagoView.action_clear()}" update="panelPago,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>