<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelPlan" header="Plan">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgPlaId" value="PlaId"/>
						 	<p:inputText id="txtPlaId" binding="#{planView.txtPlaId}">
						 		<p:ajax update="panelPlan,msg,panelBotones" listener="#{planView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgActivo" value=" Activo"/>
							<p:inputText id="txtActivo" disabled="true" binding="#{planView.txtActivo}"/>
													<h:outputText id="msgDescripcion" value=" Descripcion"/>
							<p:inputText id="txtDescripcion" disabled="true" binding="#{planView.txtDescripcion}"/>
													<h:outputText id="msgDias" value=" Dias"/>
							<p:inputText id="txtDias" disabled="true" binding="#{planView.txtDias}"/>
													<h:outputText id="msgNombre" value=" Nombre"/>
							<p:inputText id="txtNombre" disabled="true" binding="#{planView.txtNombre}"/>
													<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
							<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{planView.txtUsuarioCreador}"/>
													<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
							<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{planView.txtUsuarioModificador}"/>
													<h:outputText id="msgValor" value=" Valor"/>
							<p:inputText id="txtValor" disabled="true" binding="#{planView.txtValor}"/>
												
																				<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{planView.txtFechaCreacion}" >
								<p:ajax event="dateSelect" listener="#{planView.listener_txtFechaCreacion}" />
							</p:calendar>
														<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{planView.txtFechaModificacion}" >
								<p:ajax event="dateSelect" listener="#{planView.listener_txtFechaModificacion}" />
							</p:calendar>
														<h:outputText id="msgMesFin" value=" MesFin"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{planView.txtMesFin}" >
								<p:ajax event="dateSelect" listener="#{planView.listener_txtMesFin}" />
							</p:calendar>
														<h:outputText id="msgMesInicio" value=" MesInicio"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{planView.txtMesInicio}" >
								<p:ajax event="dateSelect" listener="#{planView.listener_txtMesInicio}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{planView.btnSave}" disabled="true" value="Save" action="#{planView.action_save()}" update="panelPlan,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{planView.btnDelete}" disabled="true" value="Delete" action="#{planView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelPlan,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{planView.action_clear()}" update="panelPlan,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>