<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelPlanCliente" header="PlanCliente">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgPlancliId" value="PlancliId"/>
						 	<p:inputText id="txtPlancliId" binding="#{planClienteView.txtPlancliId}">
						 		<p:ajax update="panelPlanCliente,msg,panelBotones" listener="#{planClienteView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgActivo" value=" Activo"/>
							<p:inputText id="txtActivo" disabled="true" binding="#{planClienteView.txtActivo}"/>
													<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
							<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{planClienteView.txtUsuarioCreador}"/>
													<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
							<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{planClienteView.txtUsuarioModificador}"/>
													<h:outputText id="msgCliId_Cliente" value=" CliId_Cliente"/>
							<p:inputText id="txtCliId_Cliente" disabled="true" binding="#{planClienteView.txtCliId_Cliente}"/>
													<h:outputText id="msgPlaId_Plan" value=" PlaId_Plan"/>
							<p:inputText id="txtPlaId_Plan" disabled="true" binding="#{planClienteView.txtPlaId_Plan}"/>
												
																				<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{planClienteView.txtFechaCreacion}" >
								<p:ajax event="dateSelect" listener="#{planClienteView.listener_txtFechaCreacion}" />
							</p:calendar>
														<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{planClienteView.txtFechaModificacion}" >
								<p:ajax event="dateSelect" listener="#{planClienteView.listener_txtFechaModificacion}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{planClienteView.btnSave}" disabled="true" value="Save" action="#{planClienteView.action_save()}" update="panelPlanCliente,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{planClienteView.btnDelete}" disabled="true" value="Delete" action="#{planClienteView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelPlanCliente,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{planClienteView.action_clear()}" update="panelPlanCliente,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>