<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableTipoPago" header="TipoPagoData">
							<p:growl id="men"/>				
							<p:dataTable value="#{tipoPagoView.data}" var="tipoPago"
								paginator="true" rows="5">
																										<p:column filterBy="#{tipoPago.tipaId}" sortBy="#{tipoPago.tipaId}" >
										 <f:facet name="header">
										<h:outputText value="tipaId"/>
										</f:facet>
										 <h:outputText value="#{tipoPago.tipaId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{tipoPago.activo}" sortBy="#{tipoPago.activo}" >
										 <f:facet name="header">
										<h:outputText value="Activo"/>
										</f:facet>
										 <h:outputText value="#{tipoPago.activo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{tipoPago.fechaCreacion}" sortBy="#{tipoPago.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{tipoPago.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{tipoPago.fechaModificacion}" sortBy="#{tipoPago.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{tipoPago.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{tipoPago.nombre}" sortBy="#{tipoPago.nombre}" >
										 <f:facet name="header">
										<h:outputText value="Nombre"/>
										</f:facet>
										 <h:outputText value="#{tipoPago.nombre}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{tipoPago.usuarioCreador}" sortBy="#{tipoPago.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{tipoPago.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{tipoPago.usuarioModificador}" sortBy="#{tipoPago.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{tipoPago.usuarioModificador}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogTipoPago"
										actionListener="#{tipoPagoView.action_edit}">
										<f:attribute name="selectedTipoPago" value="#{tipoPago}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{tipoPagoView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedTipoPago" value="#{tipoPago}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{tipoPagoView.action_new()}" update=":dialogTipoPago" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogTipoPago" appendTo="@(body)" draggable="true"
						closable="false" visible="#{tipoPagoView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelTipoPago" header="TipoPago">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgTipaId" value="TipaId"/>
									 <p:inputText id="txtTipaId" binding="#{tipoPagoView.txtTipaId}">
									 <p:ajax update=":dialogTipoPago" listener="#{tipoPagoView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgActivo" value=" Activo"/>
									<p:inputText id="txtActivo" disabled="true" binding="#{tipoPagoView.txtActivo}"/>
																		<h:outputText id="msgNombre" value=" Nombre"/>
									<p:inputText id="txtNombre" disabled="true" binding="#{tipoPagoView.txtNombre}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{tipoPagoView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{tipoPagoView.txtUsuarioModificador}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{tipoPagoView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{tipoPagoView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{tipoPagoView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{tipoPagoView.listener_txtFechaModificacion}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{tipoPagoView.btnSave}" value="Save" action="#{tipoPagoView.action_save()}" update=":dialogTipoPago :frm:panelDataTableTipoPago" />
									<p:commandButton id="btnClear" value="Clear" action="#{tipoPagoView.action_clear()}" update=":dialogTipoPago" />
									<p:commandButton id="btnExit" value="Exit" action="#{tipoPagoView.action_closeDialog()}" update=":dialogTipoPago" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

