<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableTipoEjercicio" header="TipoEjercicioData">
							<p:growl id="men"/>				
							<p:dataTable value="#{tipoEjercicioView.data}" var="tipoEjercicio"
								paginator="true" rows="5">
																										<p:column filterBy="#{tipoEjercicio.tiejeId}" sortBy="#{tipoEjercicio.tiejeId}" >
										 <f:facet name="header">
										<h:outputText value="tiejeId"/>
										</f:facet>
										 <h:outputText value="#{tipoEjercicio.tiejeId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{tipoEjercicio.activo}" sortBy="#{tipoEjercicio.activo}" >
										 <f:facet name="header">
										<h:outputText value="Activo"/>
										</f:facet>
										 <h:outputText value="#{tipoEjercicio.activo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{tipoEjercicio.fechaCreacion}" sortBy="#{tipoEjercicio.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{tipoEjercicio.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{tipoEjercicio.fechaModificacion}" sortBy="#{tipoEjercicio.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{tipoEjercicio.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{tipoEjercicio.nombre}" sortBy="#{tipoEjercicio.nombre}" >
										 <f:facet name="header">
										<h:outputText value="Nombre"/>
										</f:facet>
										 <h:outputText value="#{tipoEjercicio.nombre}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{tipoEjercicio.usuarioCreador}" sortBy="#{tipoEjercicio.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{tipoEjercicio.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{tipoEjercicio.usuarioModificador}" sortBy="#{tipoEjercicio.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{tipoEjercicio.usuarioModificador}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogTipoEjercicio"
										actionListener="#{tipoEjercicioView.action_edit}">
										<f:attribute name="selectedTipoEjercicio" value="#{tipoEjercicio}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{tipoEjercicioView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedTipoEjercicio" value="#{tipoEjercicio}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{tipoEjercicioView.action_new()}" update=":dialogTipoEjercicio" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogTipoEjercicio" appendTo="@(body)" draggable="true"
						closable="false" visible="#{tipoEjercicioView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelTipoEjercicio" header="TipoEjercicio">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgTiejeId" value="TiejeId"/>
									 <p:inputText id="txtTiejeId" binding="#{tipoEjercicioView.txtTiejeId}">
									 <p:ajax update=":dialogTipoEjercicio" listener="#{tipoEjercicioView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgActivo" value=" Activo"/>
									<p:inputText id="txtActivo" disabled="true" binding="#{tipoEjercicioView.txtActivo}"/>
																		<h:outputText id="msgNombre" value=" Nombre"/>
									<p:inputText id="txtNombre" disabled="true" binding="#{tipoEjercicioView.txtNombre}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{tipoEjercicioView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{tipoEjercicioView.txtUsuarioModificador}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{tipoEjercicioView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{tipoEjercicioView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{tipoEjercicioView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{tipoEjercicioView.listener_txtFechaModificacion}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{tipoEjercicioView.btnSave}" value="Save" action="#{tipoEjercicioView.action_save()}" update=":dialogTipoEjercicio :frm:panelDataTableTipoEjercicio" />
									<p:commandButton id="btnClear" value="Clear" action="#{tipoEjercicioView.action_clear()}" update=":dialogTipoEjercicio" />
									<p:commandButton id="btnExit" value="Exit" action="#{tipoEjercicioView.action_closeDialog()}" update=":dialogTipoEjercicio" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

