<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelTipoPago" header="TipoPago">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgTipaId" value="TipaId"/>
						 	<p:inputText id="txtTipaId" binding="#{tipoPagoView.txtTipaId}">
						 		<p:ajax update="panelTipoPago,msg,panelBotones" listener="#{tipoPagoView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgActivo" value=" Activo"/>
							<p:inputText id="txtActivo" disabled="true" binding="#{tipoPagoView.txtActivo}"/>
													<h:outputText id="msgNombre" value=" Nombre"/>
							<p:inputText id="txtNombre" disabled="true" binding="#{tipoPagoView.txtNombre}"/>
													<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
							<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{tipoPagoView.txtUsuarioCreador}"/>
													<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
							<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{tipoPagoView.txtUsuarioModificador}"/>
												
																				<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{tipoPagoView.txtFechaCreacion}" >
								<p:ajax event="dateSelect" listener="#{tipoPagoView.listener_txtFechaCreacion}" />
							</p:calendar>
														<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{tipoPagoView.txtFechaModificacion}" >
								<p:ajax event="dateSelect" listener="#{tipoPagoView.listener_txtFechaModificacion}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{tipoPagoView.btnSave}" disabled="true" value="Save" action="#{tipoPagoView.action_save()}" update="panelTipoPago,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{tipoPagoView.btnDelete}" disabled="true" value="Delete" action="#{tipoPagoView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelTipoPago,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{tipoPagoView.action_clear()}" update="panelTipoPago,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>